{:kotoba.app/id "cloud.itonami.isic-8413", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifebacy3l5qrkbfqgttjw2tl7zqcv3f5iqenn66npszuvugfjoyxi", :kotoba.app/embed-url "ipfs://bafkreifebacy3l5qrkbfqgttjw2tl7zqcv3f5iqenn66npszuvugfjoyxi", :published {:archive "https://kotobase.net/ipfs/bafkreifebacy3l5qrkbfqgttjw2tl7zqcv3f5iqenn66npszuvugfjoyxi", :size 72178, :put-status 201, :get-status 200, :at "2026-08-15T13:36:49.646Z"}}
